In [ ]:
''' Q1 : 
    Below are values
     'hello'  , -87.8 , 6
     
     Below are expressions
     *  -  /  +                 '''

In [ ]:
''' Q2:
    String is a data type
    Variable is a placeholder or temp memory location which holds value    '''

In [ ]:
'''Q3:
    string : It contains sequence of numbers and characters enclosed with single or double quotes
    int : It contains only numbers 
    float: It contains numbers with decimal point   '''

In [ ]:
'''Q4:
    An expression is made up of variables and operators, that evaluates single or multiple values and provides output.   '''

In [ ]:
''' Q5:
    An expression evaluates to a value. Statements represent an action or command         '''

In [1]:
#  Q6:

bacon = 22
bacon + 1

23

In [2]:
#  Q7:
print('spam' + 'spamspam')

print('spam' * 3)

spamspamspam
spamspamspam

In [ ]:
'''  Q8:
     eggs is valid variable but not 100, because variable name should not start with integer  '''

In [ ]:
'''  Q9:
    for interger , int()
    for float    , float()
     for string   , str()   '''

In [4]:
# Q10:
#    'I have eaten ' + 99 + ' burritos.'
#    Above code will throw error because we cannot concatenate string with integers using + expression
#    below is the correct code

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'